.App {
  background-color: rgba(195, 241, 241, 0.247);
}

.header {
  font-size: 150%;
  font-style: italic;
  color: #080202;
}

.marginLeft{
  margin-left: 10px;
}

.header-right{
  float: right;
}

.cardbox{
  width: 400px;
  margin: 60px;
  display: inline-block;
}

.audio-cardbox{
  border-radius: 10px;
  width: 350px;
  margin: 20px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.audio-gallery{
    border-radius: 10px;
    width: 350px;
    margin: 20px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardbox3{
  width: 350px;
  margin: 40px;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center{
  text-align: center;
  padding-bottom: 5px;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.popup {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

.popup .openModalBtn {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color: rgb(169, 169, 169);
  cursor: pointer;
}
body {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 600px) {

  .card-img, .card-img-bottom, .card-img-top {
    width: 240px;
    height: 300px;
  }
  
  .cardbox{
    width: 240px;
    margin: 20px;
    display: inline-block;
  }

}